
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-self: stretch;
    background-image: url("gallery.jpg");
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: stretch;
    background-color: blanchedalmond;
    
}
table, tr, td, th{

    border: 1px solid black;

}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: rgb(31, 30, 27);
}


th {
	background-color: #aca460;
}
tr :hover {
        background-color: rgba(151, 150, 94, 0.884);
}
td {
    position: relative;
}
td:hover:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}

table {

    width: auto;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

select {
   
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    color: rgba(54, 38, 2, 0.959);
    background-color: #f7f7f7;
    font-family: "Lucida Console", "Courier New", monospace;
    size: 300%;
   
}
.select {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    position: relative;
    display: block;
    width: 15em;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom: 10px;
}
.GlavnaForma{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 250px;

}

.div1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #f7f7f7;
    width: 100%;
}

.headerGlavne, .pPocetak, .pKraj, .pK, .pIme, .pPrezime, .pIzlozbaNaziv, .pBroj, .pUmetnicko, .pDrzava  {

    color: rgba(54, 38, 2, 0.959);
    background-color: #f7f7f7;
    font-family: "Lucida Console", "Courier New", monospace;
    size: 500%;
   
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.View{

    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    background-color: #f7f7f7; 
    border: none;
    color: rgb(20, 11, 11);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-family:"Lucida Console", "Courier New", monospace ;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.View:hover{
    background-color: #8f7919;
    color: white;
}

.Glavni2, .Glavni3{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-self: stretch;
    background-color: transparent;
    height: 500px;
    margin-top: 120px;
    row-gap: 5px;


}

.spojDiv{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    column-gap: 50px;
    align-self: stretch;

  
}


.Izlozbe, .Karte, .Umetnici{

    

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    background-color:  rgba(230, 218, 140, 0.5);
    width: 30%;
    height: 100%;


}

.KonForma, .FormaUmetnika, .PrikazUmetnika, .PodaciUmetnika{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:  rgba(230, 218, 140, 0.5);
}



.GlavnaKarte{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.KonKarte, .KonPrikazK{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color:  rgba(230, 218, 140, 0.5);
}


.Back{
    
    background-color: #ccc377;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: medium;
    opacity: 1;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    cursor: pointer;
    align-self: flex-start;
    
    

}

.Back:hover {background-color: #8f7919;}

.Next{
    background-color: #ccc377;
    border: none;
    color: rgb(24, 21, 21);
    text-align: center;
    font-size: medium;
    opacity: 1;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    cursor: pointer;
    align-self: flex-start;
}
.Next:hover {background-color: #8f7919;}

.KonPrikaz, .PodIzlozbe{
    background-color:  rgba(230, 218, 140, 0.7);
   
}

